<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
    <Bundle Name="Blizzard DiskMark" Manufacturer="BlizzardWyvern" Version="$(var.Version)" UpgradeCode="95537992-8f19-437b-965c-5dd52d3a7e15" 
        Copyright="Copyright © 2025 BlizzardWyvern" SplashScreenSourceFile="$(var.SourceDir)/res/DiskMark128.png"
        IconSourceFile="$(var.SourceDir)/res/DiskMark.ico" AboutUrl="https://github.com/BlizzardWyvern/BlizzardDiskMark"
        HelpUrl="https://github.com/BlizzardWyvern/BlizzardDiskMark/issues">
        <BootstrapperApplication>
            <bal:WixStandardBootstrapperApplication
                LicenseFile="$(var.SourceDir)/installer/License.rtf"
                LogoFile="$(var.SourceDir)/res/DiskMark128.png"
                Theme="rtfLicense"
                SuppressOptionsUI="yes"
                SuppressRepair="yes"
                ShowVersion="yes" />
        </BootstrapperApplication>

        <Chain>
            <!-- Chained installation of fio-x64.msi -->
            <MsiPackage SourceFile="$(var.FioInstaller)" >
                <MsiProperty Name="UILevel" Value="3" />
            </MsiPackage>
            <!-- Chained installation of vcredist_x64.exe -->
            <ExePackage SourceFile="$(var.VcRedist)" Permanent="yes" InstallArguments="/install /passive /quiet /norestart" />
            <!-- Main MSI -->
            <MsiPackage SourceFile="$(var.Standalone)" />            
        </Chain>
    </Bundle>
</Wix>
